<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.euclideanspace.com/euclid" 
       class = "com.euclideanspace.euclid.euclidmodel.EuclidmodelPackage"
       genModel = "com/euclideanspace/euclid/Editor.genmodel" /> 
	
  </extension>





</plugin>
